@font-face {
  font-family: "MuseoModerno";
  src: url("./MuseoModerno/MuseoModerno-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "MuseoModerno";
  src: url("./MuseoModerno/MuseoModerno-Thin.ttf");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "MuseoModerno";
  src: url("./MuseoModerno/MuseoModerno-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("./RobotoCondensed/RobotoCondensed-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("./RobotoCondensed/RobotoCondensed-Bold.ttf");
  font-weight: regular;
  font-style: bold;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("./RobotoCondensed/RobotoCondensed-Light.ttf");
  font-weight: light;
  font-style: normal;
}
