@font-face {
  font-family: "MuseoModerno";
  src: url("./MuseoModerno/MuseoModerno-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "MuseoModerno";
  src: url("./MuseoModerno/MuseoModerno-Thin.ttf");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("./RobotoCondensed/RobotoCondensed-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("./RobotoCondensed/RobotoCondensed-Bold.ttf");
  font-weight: regular;
  font-style: bold;
}

// @font-face {
// font-family: "MuseoModerno";
//     src: url("/assets/fonts/MuseoModerno/MuseoModerno-Light.ttf");
//   font-weight: 100;
//   font-style: normal;
// }

// @font-face {
// font-family: "MuseoModerno";
//     src: url("/assets/fonts/MuseoModerno/MuseoModerno-Italic.ttf");
//   font-weight: regular;
//   font-style: italic;
// }

// @font-face {
//   font-family: "MuseoModerno";
//     src: url("/assets/fonts/MuseoModerno/MuseoModerno-Bold.ttf");
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: "MuseoModerno";
//     src: url("/assets/fonts/MuseoModerno/MuseoModerno-Black.ttf");
//   font-weight: bolder;
//   font-style: normal;
// }
