$titleFontSize: 4rem;
$textShadow: 3px 5px 3px #474747;

.container {
  background-color: #5ca8e6;
  background-image: url(../../shared/images/background.jpg);
  background-size: cover;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.header .header-title {
  font-family: "RobotoCondensed", sans-serif;
  font-weight: bold;
  text-align: center;
}

.header .header-title {
  font-size: $titleFontSize;
  text-shadow: $textShadow;
}

.content {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}
