.container {
  background-color: #5ca8e6;
  background-image: url(../../shared/images/background.jpg);
  background-size: cover;
  color: $white;
  overflow: hidden;
  padding: $spacer * 4 $spacer;
  width: 100%;
}

.header .header-title {
  font-family: $serifFont;
  font-weight: bold;
  text-align: center;
  margin: $spacer 0;
}

.header .header-title {
  font-size: $titleFontSize;
  text-shadow: $textShadow;
}

.content {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}
