$spacer: 1em;
$titleFontSize: 4rem;
$textShadow: 3px 5px 3px #474747;

//Colors:
$white: rgb(255, 255, 255);
$transWhite: rgba(255, 255, 255, 0.5);

//Fonts
$serifFont: "MuseoModerno", Georgia, "Times New Roman", Times, serif;
$sansFont: "RobotoCondensed", Arial, Helvetica, sans-serif;
