.search-params {
  margin: 0 auto;
  width: 100%;
}

.search-params form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.search-params form label,
.search-params form label:focus {
  font-family: $serifFont;
  margin: $spacer / 2 auto;
  width: 100%;
}

.search-params form label input {
  // border-radius: 12px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  outline: none;
  border: none;
  // padding: $spacer / 2;
  width: 100%;
  padding: 10px 15px 10px 40px;
  transition: all 0.2s ease 0s;

  &:focus {
    border: 2px solid rgb(63, 127, 191);
  }
}

.search-params .search-params-btn {
  cursor: pointer;
}
